In [3]:
#Write a Python code to retrun your Python version
!python --version

Python 3.8.8

In [15]:
##Write a Python code to declare variable id="513".
#Print the following statement "customer id =513". [Don't use print("customer id
id="513"
print ("customer id =" + id)

customer id =513

In [16]:
#Run the following statement, why there is an error
id=id+1
#it is because id is currently a string, not an int or float

TypeError: can only concatenate str (not "int") to str

In [17]:
#Convert the variable id into an integer, increment it by 1.
#Assign the result to variable new_id.
#Print the new_id
new_id=int(id)+1
print (str(new_id))

514

In [32]:
#Write a Python code to print the following string in a specific format (see the
# Twinkle, twinkle, little star,
# How I wonder what you are!
# Up above the world so high,
# Like a diamond in the sky.

print("Twinkle, twinkle, little star, \n \t How I wonder what you are!  \n \t\t Up above the world so high, \n \t\t\t Like a diamond in the sky.")

Twinkle, twinkle, little star,
 	 How I wonder what you are!
 		 Up above the world so high,
 			 Like a diamond in the sky.

In [72]:
#Givin the following string variable, # Print the first element in the string
course="Python for Data Science"
print(course[0])

P

In [51]:
# Print the element on the 13th index in the string
print(course[13])

t

In [41]:
# Find the length of string
len(course)

23

In [53]:
# Print the last element in the string [use negative index]
print(course[-1])

e

In [60]:
# Take the slice on variable course with only index 11 to index 14
# https://www.oreilly.com/content/how-do-i-use-the-slice-notation-in-python/
print(course[11:15])

Data

In [67]:
# Get every third element in the range from index 0 to index 20
print(course[0:20:3])

Ph ra i

In [73]:
# Concatenate course string with ", AI & Development"
add_on_string = ", AI & Development"
course = course + add_on_string
print(course)

Python for Data Science, AI & Development

In [75]:
# Replace all the spaces with (_). New string should looks like"Python_for_Data_S
course = course.replace(" ", "_")
print(course)

Python_for_Data_Science,_AI_&_Development

In [77]:
# Convert all the characters in string to upper case
course = course.upper()
print(course)

PYTHON_FOR_DATA_SCIENCE,_AI_&_DEVELOPMENT